
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --h6: "Open Sans";


  /* font sizes */
  --h6-size: 14px;
  --h3-size: 24px;
  --h5-size: 16px;
  --font-size-mini: 15px;
  --h2-size: 40px;
  --h4-size: 20px;
  --h1-size: 58px;

  /* Colors */
  --light-text-color: #fff;
  --text-color: #252b42;
  --color-gray-100: #fafafa;
  --color-gray-200: rgba(0, 0, 0, 0.5);
  --muted-color: #bdbdbd;
  --primary-color: #d0a144;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #dedede;
  --color-whitesmoke-100: #f9f9f9;
  --color-whitesmoke-200: #eee;
  --secondary-color-2: #784f33;
  --second-text-color: #737373;
  --secondary-color-4: #295c7a;
  --color-antiquewhite: #f6e4d7;
  --color-lightskyblue: #a9d6ff;

}
