
  .footerlinks{
    width: 152px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;

  }

  .linksinfofooter {
    text-decoration: none;
  color: #bdbdbd;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 600;
  }

  .featuresinfo {
    position: relative;
    letter-spacing: 0.2px;
    line-height: 24px;
  }
  
  .divfooterinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    font-size: 14px;
    color: #bdbdbd;
    font-family: 'Open Sans';
  }
  
  .titulosfeature6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .linkfeaturelearnmore {
    position: relative;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-weight: 600;
    color: #d0a144;
  }
  